{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Лабораторная работа 4</h1>
    <ul>
        <li><a href="{{ url_for('lab4.div_form') }}">Деление</a></li>
        <li><a href="{{ url_for('lab4.sum_form') }}">Суммирование</a></li>
        <li><a href="{{ url_for('lab4.mul_form') }}">Умножение</a></li>
        <li><a href="{{ url_for('lab4.sub_form') }}">Вычитание</a></li>
        <li><a href="{{ url_for('lab4.pow_form') }}">Возведение в степень</a></li>
    </ul>
{% endblock %}