body {
    background-color: #91ccff; 
    color: #3f0048; 
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #09014a;
}

img {
    width: 500px; 
    height: auto; 
    border: 5px solid #7464ff; 
    border-radius: 10px; 
    margin-top: 20px; 
}