body {
    font-family: Arial, sans-serif;
    background-color: #c3e3ff; 
    color: #090c3b; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
}

header {
    color: #220031; 
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
    background-color: #9dc6ff; 
    padding: 10px; 
    width: 100%; 
    text-align: center; 
}

main {
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: #d2eeff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(11, 3, 88, 0.1); 
    width: 100%; 
    max-width: 1000px; 
}

footer {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #68c8ff; 
    text-align: center; 
    width: 100%; 
    position: fixed;
    bottom: 0; 
}

div {
    color: #090c3b;
}
   
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #140087;
    padding: 8px;
    text-align: left;
}
 th {
    background-color: #9bd7ff;
}


img{
    width: 450px; 
    border-radius: 5px;
    border: 2px solid #ccc; 
    padding: 5px;
}
h2 {
            margin: 10px;
}
.cat-card {  
     text-align: center;
}

.error {
    color: #691801; 
    font-family: Arial, sans-serif;
}

.drink-section, .additives-section, .submit-section {
    margin-bottom: 20px;
}

.order-button {
    padding: 10px 20px;
    background-color: #5849ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-actions {
    margin-top: 20px;
}

.save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.save-button:hover {
    background-color: #45a049;
}
