{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 3{%endblock%}

{# основной контент: #}
{% block main %}
    <h1>Формы, cookie</h1>
    {% if name %}
        <div>Привет, <span style="color: {{name_color}}">{{name}}, твой возраст {{age}}</span>
        </div>
    {% else %}
        <div>Привет, аноним</span></div>
    {% endif %}
    <div>Тема лабораторной - формы, cookie. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie">Куки</a>
        </li>
        <li>
        <a href="/lab3/del_cookie">Очистка</a>
        </li>
        <li>
        <a href="/lab3/form1">Форма</a>
        </li>
        <li>
        <a href="/lab3/order">Напиток</a>
        </li>
        <li>
        <a href="/lab3/settings">Настройки</a>
        </li>
        <li>
        <a href="/lab3/formtrain">Билеты</a>
        </li>
        <li>
        <a href="/lab3/cats">Котики</a>
        </li>
    </ol>
{% endblock %}