{% extends "base.html" %}

{% block title %}Список котиков{% endblock %}

{% block additional_styles %}
    <style>
        .cat-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
        }
        .cat-card img {
            width: 150px; /* Устанавливаем ширину изображения */
            height: auto; /* Автоматически подстраиваем высоту */
            border-radius: 5px;
            border: 2px solid #ccc; /* Добавляем рамку */
            padding: 5px; /* Добавляем отступ внутри рамки */
        }
        .cat-card h2 {
            margin: 10px 0;
        }
        .cat-card p {
            text-align: center;
        }
    </style>
{% endblock %}

{% block main %}
    {% for cat in cats %}
    <div class="cat-card">
        <img src="{{ url_for('static', filename=cat.image) }}" alt="{{ cat.name }}">
        <h2>{{ cat.name }}</h2>
        <p>{{ cat.description }}</p>
    </div>
    {% endfor %}
{% endblock %}