{% extends "base_rgz.html" %}

{% block main %}
    <h1 style="text-align: center;">Вход в систему</h1>
    <form id="loginForm" style="display: flex; flex-direction: column; align-items: center;">
        <div style="margin-bottom: 10px;">
            <label>
                Логин: <input type="text" id="login" name="login" style="margin-left: 10px;">
            </label>
        </div>
        <div style="margin-bottom: 10px;">
            <label>
                Пароль: <input type="password" id="password" name="password" style="margin-left: 10px;">
            </label>
        </div>
        <button type="submit" style="margin-top: 10px;">Вход</button>
    </form>
    <div style="text-align: center;">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    <a href="/rgz">Назад</a>
    {%block script%}
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const login = document.getElementById('login').value;
            const password = document.getElementById('password').value;

            fetch('/rgz/json-rpc-api/', {  // Исправлен путь к API
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    jsonrpc: '2.0',
                    method: 'login',
                    params: {
                        login: login,
                        password: password,
                    },
                    id: 2,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.result && data.result.message === 'Авторизация успешна') {
                    window.location.href = 'rgz/messanger';
                } else if (data.error) {
                    alert(data.error.message);  
                } else {
                    alert('Неизвестная ошибка');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при авторизации.');
            });
        });
    </script>
    {%endblock%}
{% endblock %}