{% extends "base_rgz.html" %}
{% block main %}
    <h1>Вход в систему</h1>
    <form id="loginForm" style="display: flex; flex-direction: column; align-items: center;">
        <div>
            <label>
                Логин: <input type="text" id="login" name="login" style="margin-left: 10px;">
            </label>
        </div>
        <div>
            <label>
                Пароль: <input type="password" id="password" name="password" style="margin-left: 10px;">
            </label>
        </div>

        <button type="submit">Вход</button>
    </form>
    <div style="text-align: center;">
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
    <a href="/rgz">Назад</a>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const login = document.getElementById('login').value;
            const password = document.getElementById('password').value;

            fetch('/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    jsonrpc: '2.0',
                    method: 'login',
                    params: {
                        login: login,
                        password: password,
                    },
                    id: 2,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    alert('Авторизация прошла успешно!');
                } else if (data.error) {
                    alert('Ошибка: ' + JSON.stringify(data.error));
                } else {
                    alert('Неизвестная ошибка: ' + JSON.stringify(data));
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при авторизации.');
            });
        });
    </script>
{% endblock %}